[user]
  name = Webb Henderson
  email = webb.henderson@gmail.com
  
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pullmerge = pull --no-rebase
  subup = submodule update --init --recursive
  info = remote -v
  
[push]
  default = current

[branch]
  autosetupmerge = true
  autosetuprebase = always

[color]
    status = auto
    ui = true 
  
[core]
  excludesfile = /Users/Webster/.gitignore_global

[github]
  user = emerywebster
  token = 3f1ad681957dd392ab0fccea8b41fc07
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  # cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  # trustExitCode = true
